body {
    margin: 1rem 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

a {
    text-decoration: none;
}

li svg {
    height: 100px;
    margin: 1.5rem;
}

li {
    list-style-type: none;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.technical-skills {
    margin: 1.5rem;
}

.portfolio {
    margin: 1.5rem;
}

.rate {
    margin: 1.5rem;
}

.bio {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.headshot {
    height: 750px;
    width: auto;
}

nav-bar {
    display: flex;
    align-items: flex-end;
}

.about-me {
    padding: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.skills-container {
    margin: 1rem;
}

header {
    margin: 1rem;
}