body {
    margin: 1rem;
    font-family: "Raleway", sans-serif

}



a {
    text-decoration: none;
}

li svg {
    height: 100px;
    margin: 1.5rem;
}

li {
    list-style-type: none;
}

label {
    height: auto;
}

form {
    margin: 1rem;
}

main {
    margin: 3rem 0;
}

footer {
    margin: 0;
}

.overlay {
    display: none;
}

.headshot {
    float: left;
    height: 750px;
    width: auto;
    margin-right: 1rem;
}

.bio {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.certificates {
    display: block;
    margin-left: 1rem;
}


.skills {
    margin-top: 3rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 3rem 0;

}

.rate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.service {
    width: 100%;
}

.contact-me {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: lightgray;
    margin: 0;    
}

.portfolio {
    margin: 3rem 0;
}

.contact-me span {
    margin: 3rem;
}

.closing {
    display: flex;
    background-color: grey;
}

.closing-message {
    width: 44%;
    margin: 1.5rem;
}

.discover {
    width: 66%;
    margin: 1.5rem;
}

.discover h3 {
    text-align: center;
}

.discover-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    background-color: lightgray;
}

.popular-tags {
    margin: 1.5rem;
}
