html {
    background: "./assets/videos/animation.mp4";
}
body {
    margin: 1rem;
    font-family: "Raleway", sans-serif;
    background-color: #121212;
    color: #FAF9F6;
}

video {
    margin: 0;
}

a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li svg {
    height: 100px;
    margin: 1.5rem;
}

li {
    list-style-type: none;
}

label {
    height: auto;
}

form {
    margin: 1rem;
    color: #282828;
}

main {
    margin: 3rem 0;
    background-color: #181818;
}

footer {
    margin: 0;
    background-color: #181818;
}
.overlay {
    display: none;
}

.headshot {
    float: left;
    max-height: auto;
    width: auto;
    margin-right: 1rem;
}

.bio {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio h3 {
    text-align: center;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.certificates {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
}

.certificates h3 {
    text-align: center;
}



.skills {
    margin-top: 3rem;
    background-color: #282828;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 3rem 0;

}

.rate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.service {
    width: 100%;
}

.contact-me {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: lightgray;
    margin: 0;    
}

.portfolio {
    margin: 3rem 0;
}

.contact-me span {
    padding: 0 3rem ;
    width: 250px;
    background-color: #282828;
    justify-content: space-between;
}

.closing {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap ;
    background-color: #404040;
}

.closing-message {
    margin: 1.5rem;
}

.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.discover h3 {
    text-align: center;
}

.discover-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact {
    background-color: lightgray;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    background-color: #404040;
    margin: 2.5rem 0;
}

.popular-tags {
    margin: 1.5rem;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .closing {
        flex-direction: column;
    }
}
